/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-Oct-2014, 17:13:08
    Author     : fr_user
*/
.tabs {
    *zoom: 1;
    margin-bottom: 0 !important;
}

.tabs:before ,.tabs:after {
    content: " ";
    display: table;
}

.tabs:after {
    clear: both;
}

.tabs dd {
    position: relative;
    margin-bottom: 0 !important;
    float: left;
    border: 1px solid #aecbd6;
    border-bottom: none;
    overflow: hidden;
    margin-top: 4px;
    z-index: 0;
}

.tabs dd.active {
    margin-top: 0;
    z-index: 3;
}

.tabs dd>a {
    display: block;
    background: #616e74;
    color: #ffffff;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5625rem;
    padding-left: 1rem;
    font-family: 'Crete Round',Georgia,serif;
    font-size: 1.375rem;
}

.tabs dd > a:hover {
    background: #556166;
}

.tabs dd.active a {
    background: #ffffff;
    color: #636f77;
}

.tabs.radius dd:first-child a {
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.tabs.radius dd:last-child a {
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tabs.vertical dd {
    position: inherit;
    float: none;
    display: block;
    top: auto;
}

.tabs-content {
    *zoom: 1;
    margin-bottom: 1em;
    margin-top: -5px;
    z-index: 2;
    position: relative;
    border: 1px solid #aecbd6;
    background: #ffffff;
    padding: 1em;
}

.tabs-content:before ,.tabs-content:after {
    content: " ";
    display: table;
}

.tabs-content:after {
    clear: both;
}

.tabs-content>.content {
    display: none;
    float: left;
    padding: 0.9375rem 0;
}

.tabs-content > .content.active {
    display: block;
    width: 100%;
    padding: 0;
    border: medium none;
}

.tabs-content > .content.contained {
    padding: 0.9375rem;
}

.tabs-content.vertical {
    display: block;
}

.tabs-content.vertical>.content {
    padding: 0 0.9375rem;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5) {
    .add_a_resource_side {
        background-image: url(../images/add-resource-illustration@2x.png);
        background-size: 140px 14px;
    }
}

.display_mode {
    display: none;
    margin-right: 1em;
}

.display_mode .button {
    font-size: 14px;
    padding: 2px 5px;
    background-color: #616e74;
}

.display_mode .button:hover {
    background-color: #d97109;
    color: #ffffff;
}

.display_mode .button.is_set {
    background-color: #f68b1f;
}

.third_party_services {
    padding: 1em 1em 0;
    border: 3px solid #aecbd6;
    margin-bottom: 1em;
}

.third_party_services li {
    padding: 1em 0;
    border-top: 1px solid #aecbd6;
    margin-bottom: 0;
}

.ul_britannica {
    margin-left: 40px !important;
    padding: 0;
}

.ul_britannica li {
    margin: 0;
    padding: 0;
    border-top: none;
}

.best-filters {
    border-bottom: 0;
    top: 2px;
}

.best-filters dd {
    margin-top: 4px;
    position: relative;
    z-index: 0;
}

.best-filters dd.active {
    margin-top: 0;
    z-index: 3;
}

.best-filters dd a {
    font-size: 0.875rem;
    font-family: 'Open Sans',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.results_info {
    overflow: hidden;
}

.results_info .ri_select {
    width: auto;
    display: inline;
    height: auto;
    padding: 0 0.5em 0 0;
}

.results_info ul ,.results_info .button {
    margin-bottom: 0;
}

.media_block {
    overflow: hidden;
    text-align: left;
}

.media_block a .text_title {
    color: #006c91;
}

.media_block a .text_excerpt {
    color: #333333;
}

.media_block a:hover .text_title {
    color: #d97109;
}

.media_block a:hover .thumb {
    border-color: #d97109;
}

.thumb_block {
    margin-bottom: 10px;
}

.thumb_block .thumb {
    border: 2px solid #aecbd6;
    padding: 1px;
}

.text_block {
    overflow: hidden;
}

@media only screen and (min-width:64.063em) {
    .thumb_block {
        float: left;
        margin-right: 1em;
    }
}

.tab-bar-section a {
    color: #003e58;
    text-decoration: underline;
}

.tab-bar-section a:hover {
    text-decoration: none;
}

.user_info {
    color: #ffffff;
    font-size: 0.8125rem;
    padding: 1em 0.5em;
    overflow: hidden;
    border-bottom: 1px solid #00526d;
}

.user_avatar {
    margin-right: 1em;
}

.user_info_text {
    overflow: hidden;
}

.user_info_item {
    display: block;
}

.user_contributions .resource_date_added {
    color: #636f77;
}

.user_contributions .timeline-item {
    font-size: 0.8125rem;
    text-align: right;
    margin: 3px 1em 2px 0;
}

.user_contributions .resource {
    margin: 0;
    padding: 1em 0;
    position: relative;
    overflow: hidden;
}

.user_contributions .resource:before {
    content: '';
    position: absolute;
    top: 0;
    left: 30%;
    height: 100%;
    width: 1px;
    background: #aecbd6;
}

.user_contributions .resource:after {
    content: '';
    position: absolute;
    top: 18px;
    left: 30%;
    height: 16px;
    width: 16px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: #f68b1f;
    margin-left: -8px;
}

.user_contributions .resource.status-1:after {
    background: #1ab78c;
}

.user_contributions .resource.status-2:after {
    background: #f04124;
}

.user_contributions .resource.status-3:after {
    background: #000000;
}

.user_contributions .r-curr-item:first-child {
    padding-top: 0;
}

.user_contributions .r-curr-item:last-child {
    border-bottom: none;
}

.page_dashboard .r-curr-item {
    font-size: 0.875rem;
}

#my-latest-resources {
    min-height: 55px;
    position: relative;
}

#my-latest-favourites .resource:before {
    display: none;
}

#my-latest-favourites .resource:after {
    display: none;
}

section.left-small ,a.menu-icon {
    width: 6rem;
}

section.tab-bar-section.middle {
    left: 6.5rem;
}

.no_contributons .icon ,.no_contributons blockquote:before ,.no_contributons .accordion dd.active a h3:before ,.accordion dd.active a .no_contributons h3:before ,.no_contributons .accordion dd.active a h4:before ,.accordion dd.active a .no_contributons h4:before ,.no_contributons .accordion dd > a h3:before ,.accordion dd > a .no_contributons h3:before ,.no_contributons .accordion dd > a h4:before ,.accordion dd > a .no_contributons h4:before ,.no_contributons .newsletter_radios [type="radio"]:checked+label:after ,.newsletter_radios [type="radio"]:checked+.no_contributons label:after ,.no_contributons .external-link:after ,.no_contributons .external-link-new-window:after ,.no_contributons .news-text-wrap ul li:before ,.no_contributons .textPanel ul li:before ,.no_contributons .curr_contentobjective ul li:before ,.no_contributons .news-text-wrap ol ul li:before ,.news-text-wrap ol ul .no_contributons li:before ,.no_contributons .textPanel ol ul li:before ,.textPanel ol ul .no_contributons li:before ,.no_contributons .curr_contentobjective ol ul li:before ,.curr_contentobjective ol ul .no_contributons li:before ,.no_contributons .mainsearch .ms_radios [type="radio"]:checked+label:after ,.mainsearch .ms_radios [type="radio"]:checked+.no_contributons label:after ,.no_contributons .panel.edTV .date:before ,.panel.edTV .no_contributons .date:before ,.no_contributons .panel.edTV .tvchannel:before ,.no_contributons .video_img_wrapper:after ,.no_contributons .tab_drawer_heading:before {
    color: #e5f5ff;
}

.list_of_resources_wrapper {
    border: 1px solid #aecbd6;
    padding: 1em 0 0;
    z-index: 2;
    position: relative;
    margin-top: -5px;
    background: #ffffff;
    margin-bottom: 1em;
    margin-left: -1em;
    margin-right: -1em;
}

.list_of_resources_wrapper .loadmask-msg {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    text-align: center;
    padding: 1em;
}

.list_of_resources_wrapper .loadmask-label {
    padding: 0 0 0 25px;
    display: inline;
}

.resource_wrapper {
    margin-left: -1em;
    margin-right: -1em;
}

.resource {
    overflow: hidden;
    border-bottom: 1px solid #aecbd6;
    padding: 2em 0 0.5em;
    margin: 0;
}

.resource .addthis_toolbox {
    float: none;
    width: auto;
}

.resource.related {
    border: 1px solid #aecbd6 !important;
    padding: 0.5em !important;
    background: #ffffff;
}

.resource:last-child {
    border-bottom: none;
}

.resource.compact {
    border: 2px solid #aecbd6;
    padding: 0.5em;
    width: 30%;
    margin-right: 3%;
}

.resource.compact:nth-child(3) {
    margin-right: 0;
}

.resource.compact .columns {
    float: none;
    width: 100%;
}

.resource.compact .r_excerpt {
    overflow: hidden;
    height: 5em;
}

.resource.compact .r_date ,.resource.compact .r_author ,.resource.compact .r_type {
    display: none;
}

.resource.compact .r_excerpt ,.resource.compact .r_pop_item {
    font-size: 0.8125rem;
}

.resource.compact .r_viewfull-button {
    font-size: 0.8125rem;
    padding: 0.5em 0;
    width: 100%;
    text-align: center;
}

.resource.compact .r_viewfull-button span {
    display: none;
}

.resource.compact .r_meta {
    background: #e3edf1;
    margin: -0.5em;
    padding: 0 0.5em;
    text-align: center;
}

.resource.compact .curr_compact {
    border-top: 1px solid #aecbd6;
}

.resource.compact .r_fulldescription ,.resource.compact .r_report_link {
    display: none;
}

.resource.resource_of_the_week_item {
    width: 100%;
    margin: 0;
}

.r_thumb {
    padding: 0.5em 0;
}

.r_thumb.left {
    margin: 0.75em 0.5em 0.5em 0;
}

.r_thumb.right {
    margin: 0.75em 0 0.5em 0.5em;
}

.r_title {
    font-family: 'Open Sans',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
    margin-bottom: 0;
}

.r_url {
    display: block;
    padding: 5px 0;
}

.r_format {
    float: left;
    margin-right: 0.25em;
    display: block;
    width: 38px;
    height: 36px;
    margin-top: -13px;
    background: url(../images/resources-icons.png) no-repeat 0 0;
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .r_format {
        background-image: url(../images/resources-icons@2x.png);
        background-size: 275px;
    }

    .r_format_1 {
        background-position: -158px 0 !important;
    }

    .r_format_2 {
        background-position: -40px 0 !important;
    }

    .r_format_3 {
        background-position: -78px 0 !important;
    }

    .r_format_4 {
        background-position: -118px 0 !important;
    }

    .r_format_5 {
        background-position: -237px 0 !important;
    }

    .r_format_7 {
        background-position: -197px 0 !important;
    }
}

.r_format_1 {
    background-position: -152px 0;
}

.r_format_2 {
    background-position: -38px 0;
}

.r_format_3 {
    background-position: -76px 0;
}

.r_format_4 {
    background-position: -114px 0;
}

.r_format_5 {
    background-position: -228px 0;
}

.r_format_6 {
    background-position: 0 0;
}

.r_format_7 {
    background-position: -190px 0;
}

.r_author ,.r_date ,.r_type {
    color: #636f77;
    margin-right: 1em;
}

.r_author_link {
    color: #006c91;
}

.r_excerpt {
    margin: 0.5em 0;
    font-size: 0.875rem;
    position: relative;
}

.r_excerpt.short {
    overflow: hidden;
    max-height: 6.1em;
    height: auto !important;
    height: 6.1em;
}

.r_excerpt.short.full {
    overflow: visible;
    max-height: none;
    height: auto !important;
}

.r_meta ,.r_meta li {
    font-size: 0.875rem;
}

.r_meta .medium-block-grid-2>li ,.r_meta .medium-block-grid-3>li {
    padding-bottom: 0.5em;
}

.r_curriculum {
    margin: 0.5em 0 0;
}

.r_rating img {
    vertical-align: initial;
}

.r_rating ,.r_popularity ,.r_meta_item ,.r_report_link {
    padding: 0.5em 0;
    line-height: 1.4;
}

.r_report_link {
    padding: 1em 0;
    font-size: 0.6875rem;
}

.r_popularity .inline-list {
    margin-bottom: 0;
}

.r_pop_item {
    font-size: 1rem;
    margin-right: 1em;
}

.r_curr-heading {
    font-family: 'Open Sans',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1rem;
}

.r-curr-item {
    padding: 0.5em 0;
    border-bottom: 1px solid #aecbd6;
    line-height: 1.5;
}

.r_fullcurriculum .r-curr-item {
    border-bottom: 0;
    border-top: 1px solid #5bc4bf;
}

.r_viewfull-button ,.r_closefull-button {
    display: block;
    font-size: 0.875rem;
    margin: 0.5em 0;
}

.r_meta_item {
    border-top: 1px solid #aecbd6;
    font-size: 0.75rem;
}

.r_action_item {
    padding: 1em 0;
    width: 33%;
    border-bottom: 1px solid #aecbd6;
    text-align: center;
}

.r_social {
    border-bottom: 1px solid #aecbd6;
    padding-bottom: 1em;
}

.r_social_label {
    float: left;
    margin-top: 7px;
    margin-right: 10px;
}

.resource_action {
    border-width: 5px;
    padding: 0.5em;
}

.resource_action .r_report_link {
    font-size: 0.875rem;
}

.resource_action_buttons {
    padding: 1em 0 0;
    margin: 1em 0;
    border-top: 1px solid #aecbd6;
    border-bottom: 1px solid #aecbd6;
}

.resource_action_buttons .icon ,.resource_action_buttons blockquote:before ,.resource_action_buttons .accordion dd.active a h3:before ,.accordion dd.active a .resource_action_buttons h3:before ,.resource_action_buttons .accordion dd.active a h4:before ,.accordion dd.active a .resource_action_buttons h4:before ,.resource_action_buttons .accordion dd > a h3:before ,.accordion dd > a .resource_action_buttons h3:before ,.resource_action_buttons .accordion dd > a h4:before ,.accordion dd > a .resource_action_buttons h4:before ,.resource_action_buttons .newsletter_radios [type="radio"]:checked+label:after ,.newsletter_radios [type="radio"]:checked+.resource_action_buttons label:after ,.resource_action_buttons .external-link:after ,.resource_action_buttons .external-link-new-window:after ,.resource_action_buttons .news-text-wrap ul li:before ,.resource_action_buttons .textPanel ul li:before ,.resource_action_buttons .curr_contentobjective ul li:before ,.resource_action_buttons .news-text-wrap ol ul li:before ,.news-text-wrap ol ul .resource_action_buttons li:before ,.resource_action_buttons .textPanel ol ul li:before ,.textPanel ol ul .resource_action_buttons li:before ,.resource_action_buttons .curr_contentobjective ol ul li:before ,.curr_contentobjective ol ul .resource_action_buttons li:before ,.resource_action_buttons .mainsearch .ms_radios [type="radio"]:checked+label:after ,.mainsearch .ms_radios [type="radio"]:checked+.resource_action_buttons label:after ,.resource_action_buttons .panel.edTV .date:before ,.panel.edTV .resource_action_buttons .date:before ,.resource_action_buttons .panel.edTV .tvchannel:before ,.resource_action_buttons .video_img_wrapper:after ,.resource_action_buttons .tab_drawer_heading:before {
    font-size: 1.5em;
    float: left;
    margin-right: 0.5em;
}

.resource_action_buttons .button {
    text-align: left;
    padding: 0.5em 1em;
}

.resource_action_buttons .button .btntext {
    overflow: hidden;
}

.curr_key_skills {
    margin-top: 0.5em;
    overflow: hidden;
}

.curr_key_skills p {
    float: left;
    font-size: 13px !important;
    margin-right: 0.5em !important;
}

.curr_key_skills ul {
    margin-left: 0;
    margin-bottom: 0;
}

.curr_key_skills ul li {
    border-right: 1px solid #aecbd6;
    padding-right: 0.5em;
    margin-right: 0.5em;
    font-size: 13px !important;
}

.curr_key_skills ul li:last-child {
    border-right: none;
}

.r_sen ul.inline-list {
    margin-left: 0;
    margin-bottom: 0;
}

.r_sen ul.inline-list li {
    border-right: 1px solid #aecbd6;
    padding-right: 0.5em;
    margin-right: 0.5em;
    margin-left: 0;
    font-size: 13px !important;
}

.r_sen ul.inline-list li:last-child {
    border-right: none;
}

.curr_level {
    display: inline-block;
    padding: 3px;
    line-height: 1;
    color: #ffffff;
    margin-right: 1px;
    text-transform: uppercase;
}

.r_fullcurriculum {
    background: #e5f5ff;
    padding: 0.5em 1em;
    font-size: 0.875rem;
    margin-bottom: 1em;
}

.r_fullcurriculum p ,.r_fullcurriculum li {
    margin: 0.25em 0;
    font-size: 0.875rem;
}

.r_addtofav {
    border-top: 0;
}

.curr_contentobjective ul {
    margin: 0 !important;
}

.r_fullcurriculum .tabs {
    margin-left: 1.5em;
    border: none;
}

.r_fullcurriculum .tabs-content {
    padding: 1em;
    background: #ffffff;
    border: 1px solid #5bc4bf;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 0;
    margin-top: 0;
}

.r_fullcurriculum .curr_subject {
    display: inline-block;
    margin-left: 0.5em;
    line-height: 29px;
    font-size: 85%;
}

.r_fullcurriculum .tabs dd {
    top: 1px;
    border: none;
}

.r_fullcurriculum .tabs dd.active {
    margin-top: 4px;
}

.r_fullcurriculum .tabs dd>a {
    padding: 3px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #5bc4bf;
    border-bottom: none;
    font-size: 85%;
    background: #aecbd6;
    font-family: 'Open Sans',"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.r_fullcurriculum .tabs dd.active>a {
    background: white;
}

.r_accordion_header .icon-caret-down ,.r_accordion_header .icon-caret-right {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
}

.r-curr-item.is_closed .tabs dd>a {
    background: none;
    border-color: #e3edf1;
}

.r-curr-item.is_closed .tabs-content {
    display: none;
}

.r-curr-item.is_closed .icon-caret-right {
    display: block;
}

.r-curr-item.is_closed .icon-caret-down {
    display: none;
}

.r-curr-item.is_open .tabs-content {
    display: block;
}

.r-curr-item.is_open .icon-caret-right {
    display: none;
}

.r-curr-item.is_open .icon-caret-down {
    display: block;
}

.r_fulldescription.is_open {
    display: block;
}

.r_fulldescription.is_closed {
    display: none;
}

.curr_suggested_use {
    border: 1px solid #faa634;
    background: #ffe293 url(../images/suggestion-for-use-icon.png) no-repeat 10px 10px;
    padding: 0.5em 0.5em 0.5em 60px;
    border-radius: 4px;
    position: relative;
    width: 100%;
    min-height: 55px;
}

.curr_suggested_use p {
    font-size: 85%;
}

.curr_suggested_use .icon-comment-alt {
    font-size: 3em;
    color: #faa634;
    float: left;
    margin-right: 0.25em;
}

.button-group .c_open_button {
    padding: 0.5em 1em;
    margin-bottom: 0;
}

.r_fulldescription .c_addtolp_button {
    padding: 0.5em 1em;
    margin: 0.5em 0 0.25em;
}

.curr_subject {
    margin-left: 5px;
}

.curr_in ,.curr_ln {
    background: #007473;
}

.curr_1-2 {
    background: #9c1736;
}

.curr_3-4 {
    background: #44419e;
}

.curr_5-6 {
    background: #007d31;
}

.curr_jc {
    background: #7a9e18;
}

.curr_sc {
    background: #742e6a;
}

.r_stars {
    display: inline-block;
}

.rating_count {
    float: right;
    font-size: 0.8125rem;
    margin-left: 5px;
}

.singleresource .r_format {
    margin-top: 0;
}

.singleresource .r_fav ,.singleresource .r_share {
    float: left;
}

.singleresource .resource {
    padding-top: 0;
}

.single_meta hr {
    border-width: 2px 0 0;
}

.recent-resources {
    margin-top: -1.5em;
    margin-bottom: -1.5em;
}

.recent-resources .curr_level {
    margin-right: 2px;
}

.recent-resources .r_curriculum {
    margin-top: 0;
}

.recent-resources .r-curr-item:first-child {
    padding-top: 0;
}

.recent-resources .r-curr-item:last-child {
    border-bottom: none;
}

.r_term {
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
}

.recent-resources {
    margin-bottom: 2em;
}

.f_block_title {
    margin-bottom: 0;
    border-bottom: 1px solid #aecbd6;
    padding-bottom: 0.625rem;
}

.f_fieldset {
    border: none;
    border-top: 1px solid #aecbd6;
    padding: 0.25em;
    margin: 0;
}

.f_fieldset.is_disabled .f_title {
    color: #636f77;
}

.f_fieldset.is_checked {
    background: #e3edf1;
}

.f_title {
    cursor: pointer;
    text-transform: uppercase;
    margin: 0.5em 0;
    font-size: 0.875rem;
}

.f_list li {
    margin-bottom: 0.25em;
    font-size: 0.865em;
}

.f_label {
    font-size: 0.875rem;
    margin-bottom: 0;
}

.f_label.is_checked {
    font-weight: bold;
}

.filters .f_checkbox {
    margin-bottom: 0;
}

.f_count {
    font-size: 0.75rem;
    color: #636f77;
}

h1 small ,h2 small ,h3 small ,h4 small ,h5 small ,h6 small {
    font-size: 75%;
    color: #6f6f6f;
    line-height: 0;
}
small {
    font-size: 75%;
}


@font-face {
    font-family:'scoilnet';src:url('../fonts/scoilnet.eot?cvrlfq');src:url('../fonts/scoilnet.eot?#iefixcvrlfq') format('embedded-opentype'),url('../fonts/scoilnet.ttf?cvrlfq') format('truetype');font-weight:normal;font-style:normal;
}