<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="{{ app.request.get('_locale') }}" > 
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>{% block title %}Resource Metadata{% endblock %}</title>
  
    {% block head %}
        <link rel="icon" sizes="16x16" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/foundation.css" />
        <link rel="stylesheet" href="/css/lre.css" />
        <link rel="stylesheet" href="/css/search.css" />
        <script src="/js/custom.modernizr.js"></script>
         	
    {% endblock %}    
</head>
<body>
        {% block body %}
            <div class="block row">                
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash-message">
                            <em>Notice</em>: {{ flashMessage }}
                        </div>
                    {% endfor %}


            
                    {% block content %}

		    {% endblock %}
            </div>
        {% endblock %}

        {% block footer %}
            <script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script> 
            <script src="/js/foundation.min.js"></script>
            <script src="/js/search.js"></script>
            <script>
                var lreDir = '';
                                  var locale = 'en';
                 if(locale != 'en'){
                     lreDir += '/'+locale;
                 }
                 lreDir += '/lre/backend/';
                $(document).foundation();
            </script>
         
        {% endblock %} 
            
        {% block footerJS %}
        {% endblock %} 
            
</body>
</html>